@tailwind base;
@tailwind components;
@tailwind utilities;


.mini-logo svg{
  width: 35px;
  height: auto;
  
}

.custom-border {
    border-width: 2px;
    /* border-style: solid; */
    border-image-source: linear-gradient(90deg, rgba(0, 145, 215, 0.4) 0%, #0091D7 43.75%, #FE0FD4 100%);
    border-image-slice: 1;
}
  tr:nth-child(even):not(:first-child)   {
    background-color: #060A24;
  }
  /* tr:nth-child(even)  {
    background-color: #060A24;
  } */
  tr td{
    padding: 15px;
  }

  tr .columns {
    text-align: left;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 15px;
  }

  .bg-sw-bg {
    background-image: url('/bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .dynamic-image {
    width: 422px; 
    height: 422px; 
    object-fit: cover;
  }
  .title-box{
    height: 
    352px;
    overflow: hidden;
  }
.search input{
  background: #21232CCC;
  color: #ffffff;
}